.texto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 20px;
}

.video-container {
    text-align: center;
    padding: 10px;
}
.button {
   text-align: center;
   img {
    width: 30px;
    height: auto;
   }
   
}
body.dark {
    background-color: #121212;
    color: white;
}

body.dark .card .texto {
    background-color: #1e1e1e;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    
}
.card {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.card img {
    width: 100%;
    display: block;
}
h1 {
    text-align: center;
    margin-top: 20px;
}
